<nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
    <div class="container">
     
        <img src="assets/img/logo.png" height=50 alt="image" class="navbar-brand" routerLink="/">
        <button class="navbar-toggler" type="button" (click)="toggleClass()">
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="https://github.com/" class="nav-link" target="_blank">
                    <i class="fab fa-github"></i>
                  </a></li>
                <li class="nav-item"><a href="https://www.facebook.com/" class="nav-link" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a></li>
                <li class="nav-item"> <a href="https://twitter.com/" class="nav-link" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a></li>
                <li class="nav-item"><a href="https://reddit.com/" class="nav-link" target="_blank">
                    <i class="fab fa-reddit"></i>
                  </a></li>
                <li class="nav-item"><a href="https://telegram.me/share/url?&url=http://dxperts.org" class="nav-link" target="_blank">
                    <i class="fab fa-telegram"></i>
                  </a></li>
                <li class="nav-item"><a href="" class="nav-link" target="_blank">
                    <i class="fas fa-rss"></i>
                  </a></li>
                <li class="nav-item"><a href="https://api.whatsapp.com/" class="nav-link" target="_blank">
                    <i class="fas fa-whatsapp"></i>
                  </a></li>
                
            </ul>
           <ul class="navbar-nav ml-auto for-responsive">
            <li class="nav-item"><a href="https://github.com/" class="nav-link" target="_blank">
              <i class="fab fa-github"></i><span class="nav-link">  Github</span>
            </a></li>
          <li class="nav-item"><a href="https://www.facebook.com/" class="nav-link" target="_blank">
              <i class="fab fa-facebook-f"></i><span class="nav-link">  Facebook</span>
            </a></li>
          <li class="nav-item"> <a href="https://twitter.com/" class="nav-link" target="_blank">
              <i class="fab fa-twitter"></i><span class="nav-link"> Twitter</span>
            </a></li>
          <li class="nav-item"><a href="https://reddit.com/" class="nav-link" target="_blank">
              <i class="fab fa-reddit"></i><span class="nav-link">  Reddit</span>
            </a></li>
          <li class="nav-item"><a href="https://telegram.me/share/url?&url=http://dxperts.org" class="nav-link" target="_blank">
              <i class="fab fa-telegram"></i><span class="nav-link">  Telegram</span>
            </a></li>
          <li class="nav-item"><a href="" class="nav-link" target="_blank">
              <i class="fas fa-rss"></i><span class="nav-link">  RSS</span>
            </a></li>
          <li class="nav-item"><a href="https://api.whatsapp.com/" class="nav-link" target="_blank">
              <i class="fas fa-whatsapp"></i><span class="nav-link">  Whatsapp</span>
            </a></li>
            </ul>
        </div>
    </div>
</nav>